In [5]:
import pandas as pd #mengimport pandas untuk membaca data file csv

emas=pd.read_csv("goldx.csv") #membaca file csv
emas.head() #menampilkan data 5 baris pertama

     Open    High     Low   Price
0  1223.4  1223.4  1216.2  1216.6
1  1220.4  1228.1  1213.0  1223.7
2  1222.5  1223.9  1218.1  1221.3
3  1223.5  1226.8  1216.7  1222.2
4  1227.8  1227.8  1227.8  1225.3

In [6]:
x=emas.iloc[:,0:3].values #mengambil kolom variabel input (Open, High, Low) ada 3 kolom
y=emas.iloc[:,-1].values #mengambil kolom variabel output (Price) kolom terakhir

print(x)
print(y)

[[1223.4  1223.4  1216.2 ]
 [1220.4  1228.1  1213.  ]
 [1222.5  1223.9  1218.1 ]
 ...
 [ 527.88  534.5   527.88]
 [ 516.    517.8   510.4 ]
 [ 517.    517.    513.  ]]
[1216.6 1223.7 1221.3 ...  533.6  517.8  515.5]

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 0) #membagi dataset menjadi data training dan testing

In [8]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression() #membuat model
regressor.fit(x_train, y_train) #melakukan training regresi linear berganda

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
y_pred = regressor.predict(x_test) #melakukan prediksi harga emas
print(y_pred)
print(len(y_pred))

[ 343.72280233  306.95442932  332.7795544  ...  343.77322513 1338.14208982
 1191.609491  ]
1955

In [10]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred) #menghitung nilai error
print('MSE: %f' % mse)

MSE: 10.999685

In [11]:
beta=regressor.coef_ #menampilkan b1-b3 (koefisien)
alpa=regressor.intercept_ #menampilkan b0 (konstanta)
print(beta)
print(alpa)

[-0.5710697   0.78096778  0.79051659]
-0.11972299419323917

In [ ]:
#y' = b0 + b1*1 + b2*2 + b3*3 (variabel input ada 3 (Open, High, Low))